.DS_Store
**/node_modules
/dist
/live
/node_modules
/tests/e2e/videos/
/tests/e2e/screenshots/
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

Jenkinsfile
/ansible
control

